:root {
  --green: #2ff924;
  --brown: #381010;
  --black: #0b0303;
  --red: #eb212e;
  --light-brown: #7e7863;
  --yellow: #ffe81f;
  --blue: #2e67f8;
  --button-yellow: #b58a4b;
  --white: #eaeef2;
}

/* General CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: 'Star Wars', sans-serif;
}

p {
  letter-spacing: 2px;
}

.main {
  max-width: 120rem;
  position: relative;
}

/* MAIN */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

/* Title */
.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.yellow-char {
  color: var(--yellow);
}

.title {
  display: inline-block;
  position: relative;
  text-align: center;
}

.title::before,
.title::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: -10px;
  transition: transform 0.25s ease-out;
  border-radius: 7px 7px 2px 2px;
}

.title::before {
  left: 50%;
  background-color: var(--blue);
  transform-origin: bottom right;
  box-shadow: 8px 8px 20px 8px var(--blue);
}

.title::after {
  right: 50%;
  background-color: var(--red);
  box-shadow: 8px 8px 20px 8px var(--red);
}

.title:hover::before,
.title:hover::after {
  transform: scaleX(1);
  width: 50%;
}
.title:hover::before {
  transition-delay: 0.1s;
}
.title:hover::after {
  transition-delay: 0s;
}

/* Button */
.button {
  background-color: var(--yellow);
  border: none;
  border-radius: 15px;
  color: var(--black);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  opacity: 0.6;
  padding: 1rem 2rem;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}

.button:active {
  background-color: var(--blue);
  box-shadow: 0 10px var(--white);
  color: var(--white);
  transform: translateY(4px);
}

.button:hover {
  box-shadow: 1px 1px 20px 10px var(--yellow);
  opacity: 1;
}

/* Results container */
.results-container {
  background-color: var(--white);
  color: var(--black);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.name {
  font-size: 2rem;
}

.attribute-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
